/*
* @Author: sahildua2305
* @Date:   2016-06-21 00:07:22
* @Last Modified by:   Sahil Dua
* @Last Modified time: 2016-06-21 00:39:30
*/

body {
    width: 330px;
    font-family: Arial;
}

.title {
    padding: 1% 5% 0 5%;
    font-size: 2.5em;
}

.container {
    width: 100%;
    position: relative;
    margin: auto;
}

.share-icon {
    float: left;
    display: inline;
    padding: 0 1em 1em 1em;
}

.share-icon img {
    height: 60px;
    width: 60px;
}

.share-icon img:hover {
    transition: .2s;
    transform: scale(1.1);
}